# Editor directories and files
*.iml
out
gen
.DS_Store
.vscode
_Store
node_modules/
npm-debug.log*
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sublime-project
*.sublime-workspace
package-lock.json
package-lock.json
wechat/logs/
